body {
    background-color: black;
}

.genericBtn {
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    text-transform: uppercase;
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
    min-width: 80px;
    width: 100%;
}

.genericBtn:disabled {
    cursor: default;
    opacity: 0.7;
}

.pausePlay {
    background-color: rgb(40, 40, 40);
    color: white;
}

.pausePlay:hover {
    background-color: rgb(136, 136, 136);
}

.clusterizeBtn {
    background-color: rgb(6, 9, 108);
    color: white;
}

.clusterizeBtn:hover {
    background-color: rgb(72, 119, 148);
}

.restartBtn {
    background-color: rgb(108, 6, 6);
    color: white;
}

.restartBtn:hover {
    background-color: rgb(148, 72, 72);
}

.menuContainer {
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    color: white;
    font-family: "Courier New", Courier, monospace;
    z-index: 10000;
    margin: 0;
    padding: 0;
    max-width: 40vw;
    width: 500px;
}

.aNoStyle {
    text-decoration: none;
    color: white;
    font-family: "roboto";
    font-size: 30px;
    background: none;
    border: none;
    cursor: inherit;
}
body,
html {
    margin: 0;
    padding: 0;
}

.UIWrapper:hover {
    opacity: 1;
}

.rc-slider-mark {
    /*cache les indicateurs sous les points du slider*/
    display: none !important;
}

.react-draggable:hover {
    cursor: move;
}

.mainPannel {
    opacity: 0.3;
    transition-delay: 3s;
    transition: opacity 1s;
}
.mainPannel:hover {
    opacity: 1;
    transition-delay: 3s;
    transition: opacity 0.3s;
}

.mainContainer {
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    height: 100%;
}
.canvasContainer {
    margin: 0;
    height: 100%;
}
.fakeButton {
    width: 120px;
    display: inline-flex;
    vertical-align: middle;
}
.floatRight {
    float: right;
    vertical-align: middle;
    font-size: 20px;
}
.App,
#root,
html,
body {
    height: 100%;
    overflow: hidden;
}
.MuiSlider-markLabel {
    color: #0000 !important;
}

.blue-text
{
    color: #8080ea;
}